#!/usr/bin/env bash
# -*- coding: utf-8 -*-

# Terminal
alias r='clear'  # clear the console
alias his='history | grep'  # search through command history
alias evr='evr'  # list or add to environment variables
alias revr='evr -d'  # remove an environment variable

# Navigation
alias c='. rpcl cdlspy'  # change directory intelligently
alias cd='c'
alias c.='c ..'  # change directory up one level
alias c..='c ../..'  # change directory up two levels
alias c...='c ../../..'  # change directory up three levels
alias c-='\cd - && echo ${pwd} && l'  # change to last active directory
alias cdw='c ${WORKSPACE}'  # change directory to workspace
alias cdd='c ~/Desktop/'  # change directory to desktop
alias cdo='c ~/Downloads/'  # change directory to downloads
alias l='ls -a -w1'  # list all one per line
alias ls='ls -a -w1'
alias o='open'  # open
alias o.='o .'  # open cwd in finder
alias rm='trash'
alias sgw='ssh -i ~/.ssh/gh/work'  # ssh with work GitHub key

# Installation
alias python='python3'
alias pip='sudo -H python -m pip'  # pip 3
alias pi='pip install'  # pip 3 install
alias psi='sudo -H python setup.py install'  # Python 3 setup install cwd package
alias bi='brew install'  # brew install
alias bpu='brew update && brew upgrade && pi --upgrade pip setuptools'  # upgrade brew and pip
alias venv='. venv'  # create and start or just start a virtual environment
alias dvenv='deactivate &> /dev/null'  # deactivate a virtual environment
alias rvenv='dvenv; rvenv'  # delete a virtual environment
alias R='R --no-save'

# Editing
alias s='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'  # sublime
alias sublime='s'
alias s.='s .'  # open cwd in sublime 
alias v='vi'  # vim
alias i='. intrct'  # interact intelligently
alias ij='idea'  # open with IntelliJ
alias pc='charm'  # open with PyCharm

# Execution
alias b='bash'  # bash
alias p='strtpy 3'  # run file or open REPL with interactive Python 3
alias wb='./gradlew build'  # build cwd project with gradle
alias wbw='./gradlew build -PwithWebpack'  # build cwd project with gradle and webpack
alias wr='./gradlew run'  # run cwd project with gradle
alias wrw='./gradlew run -PwithWebpack'  # run cwd project with gradle and webpack
alias wt='./gradlew test'  # test cwd project with gradle
alias j='/Library/Java/JavaVirtualMachines/jdk-11.jdk/Contents/Home/bin/jshell'  # open Java REPL
alias nb='jupyter notebook'  # jupyter notebook
alias python3='python3.7'

# Git
alias gcl='. rpcl gclpy'  # git clone for work
alias gclp='. rpcl gclpy -p'  # git clone for personal
alias gsew='git config user.email "zack@plenty.ag"'  # git set email for work
alias gsep='git config user.email "zdfs1121@gmail.com"'  # git set email for personal
alias glg='git log --graph --pretty=oneline --abbrev-commit'  # git log for convinient reading
alias gst='git remote update; git status'  # git status
alias gba='git branch -a'  # git branch all
alias gc='gch'  # git checkout
alias gb='gc'
alias gc-='git checkout @{-1}'  # git checkout last
alias gcm='git checkout master'  # git checkout master
alias gbd='git branch -D'  # git branch delete
alias gpl='git pull'  # git pull
alias gps='git push'  # git push
alias gacp='b gacp'  # git add, commit, then push
alias gs='git stash'  # git stash
alias gsp='git stash pop'  # git stash pop
alias gd='git diff'  # git diff
alias gm='git merge'  # git merge
alias gmm='gm master'  # git merge master
alias grh='git reset --hard'  # git reset hard
alias gh='gho'  # open current path in GitHub

# Meta
alias h='hlp'  # help
alias src='source ~/.zshrc'  # re-source the command line tools
alias et='s ~/bin && s ~/.zshrc && s ~/.aliases_plenty && s ~/.aliases'  # edit command line tools
alias redo='sudo $(fc -ln -1)'  # redo a command with sudo privileges

# Random
alias ldyn='c /Applications/dynamodb_local_latest && r && java -Djava.library.path=./DynamoDBLocal_lib -jar DynamoDBLocal.jar -sharedDb && c- && r'  # run local dynamo instance
