#!/usr/bin/env bash
# -*- coding: utf-8 -*-

# Terminal
alias r='clear'  # clear the console
alias ghi='history | grep'  # search through command history
alias addenv='addenv'  # add an environment variable
alias rmenv='addenv -d'  # remove an environment variable

# Navigation
alias c='. cdls'  # change directory intelligently
alias cd='. cdls'
alias c.='c ..'  # change directory up one level
alias c..='c ../..'  # change directory up two levels
alias c...='c ../../..'  # change directory up three levels
alias c-='c -'  # change to last active directory
alias cdw='c ${WORKSPACE}'  # change directory to workspace
alias cdd='c ~/Desktop/'  # change directory to desktop
alias cdo='c ~/Downloads/'  # change directory to downloads
alias l='ls -a -w1'  # list all one per line
alias ls='ls -a -w1'
alias o='open'  # open
alias o.='o .'  # open cwd in finder
alias rm='trash'

# Installation
alias bi='brew install'  # brew install
alias pip2='sudo -H python2 -m pip'  # pip 2
alias pip3='sudo -H python3 -m pip'  # pip 3
alias pi2='pip2 install'  # pip 2 install
alias pi3='pip3 install'  # pip 3 install
alias psi2='sudo -H python2 setup.py install'  # Python 2 setup install cwd package
alias psi3='sudo -H python3 setup.py install'  # Python 3 setup install cwd package
alias bpu='brew update && brew upgrade && pi3 --upgrade pip setuptools'  # upgrade brew and pip

# Editing
alias s='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'  # sublime
alias sublime='s'
alias s.='s .'  # open cwd in sublime 
alias v='vi'  # vim
alias i='. intrct'  # interact intelligently

# Execution
alias b='bash'  # bash
alias p2='strtpy 2'  # run file or open REPL with interactive Python 2
alias p3='strtpy 3'  # run file or open REPL with interactive Python 3
alias gwb='./gradlew build'  # build cwd project with gradle
alias gwr='./gradlew run'  # run cwd project with gradle
alias gwt='./gradlew test'  # test cwd project with gradle

# Git
alias gcl='. gcl'  # git clone for work
alias gclp='. gcl -p'  # git clone for personal
alias gsew='git config user.email "zack@plenty.ag"'  # git set email for work
alias gsep='git config user.email "zdfs1121@gmail.com"'  # git set email for personal
alias glg='git log --graph --pretty=oneline --abbrev-commit'  # git log for convinient reading
alias gst='git remote update; git status'  # git status
alias gba='git branch -a'  # git branch all
alias gc='. gch'  # git checkout
alias gcm='. gch master'  # git checkout master
alias gcr='. gcr'  # git checkout remote
alias gbd='git branch -D'  # git branch delete
alias gpl='git pull'  # git pull
alias gps='git push'  # git push
alias gacp='b gacp'  # git add, commit, then push
alias gacpp='b gacpp'  # git add, commit, pull, then push
alias gs='git stash'  # git stash
alias gsp='git stash pop'  # git stash pop
alias gd='git diff'  # git diff
alias gm='git merge'  # git merge
alias gmm='gm master'  # git merge master
alias grh='git reset --hard'  # git reset hard
alias gnr='. gnr'  # make a new release on GitHub

# Plenty
alias cli='${WORKSPACE}/cli/plentyservice/pcli'  # Plenty CLI
alias qrgen='${WORKSPACE}/qr_generator/plentyqrgen/gen'  # generate QR code
alias beansprout='p3 ${WORKSPACE}/beansprout/beansprout.py'  # run beansprout
alias create_user='${WORKSPACE}/plenty_service_automation/user_management/create_user.py'  # create user
alias assign_role='${WORKSPACE}/plenty_service_automation/user_management/assign_role.py'  # assign a role
alias build_email='${WORKSPACE}/plenty_service_automation/user_management/register_hyp_update_email.py'  # send an email on build finish

# Meta
alias h='hlp'  # help
alias src='source ~/.zshrc'  # re-source the command line tools
alias et='s ~; s ~/.aliases'  # edit command line tools
alias redo='sudo $(fc -ln -1)'  # redo a command with sudo privileges

# Random
alias venv='. venv'  # create and start or just start a virtual environment
alias dctv='deactivate'  # deactivate a virtual environment
alias jptn='jupyter notebook'  # jupyter notebook
alias ldyn='c /Applications/dynamodb_local_latest && r && java -Djava.library.path=./DynamoDBLocal_lib -jar DynamoDBLocal.jar -sharedDb && c- && r'  # run local dynamo instance
