#!/usr/bin/env bash
# -*- coding: utf-8 -*-

# Terminal
alias r='clear'
alias ghi='history | grep'

# Navigation
alias c='. cdls'
alias cd='. cdls'
alias c.='c ..'
alias c..='c ../..'
alias c...='c ../../..'
alias cdw='c ${WORKSPACE}'
alias cdd='c ~/Desktop/'
alias cdo='c ~/Downloads/'
alias l='ls -a -w1'
alias ls='ls -a -w1'
alias o='open'
alias o.='o .'
alias rm='trash'

# Installation
alias bi='brew install'
alias spi='sudo -H pip install'
alias spi3='sudo -H pip3 install'
alias sbpu='brew update; brew upgrade; spi --upgrade pip setuptools; sp3i --upgrade pip setuptools'

# Editing
alias s='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'
alias s.='s .'
alias v='vi'
alias i='. intrct'

# Execution
alias b='bash'
alias p='strtpy 2'
alias p3='strtpy 3'
alias gwb='./gradlew build'
alias gwr='./gradlew run'
alias gwt='./gradlew test'

# Git
alias gcl='. gcl'
alias gclp='. gcl -p'
alias gsew='git config user.email "zack@plenty.ag"'
alias gsep='git config user.email "zdfs1121@gmail.com"'
alias glg='git log --graph --pretty=oneline --abbrev-commit'
alias gst='git remote update; git status'
alias gb='. gch'
alias gc='gb'
alias gbd='git branch -D'
alias gpl='git pull'
alias gps='git push'
alias gacp='b gacp'
alias gacpp='b gacpp'
alias gd='git diff'
alias gm='git merge'
alias gmm='gm master'
alias grh='git reset --hard'
alias grhh='grh HEAD'
alias gbd='git branch -d'
alias gnr="git pull && lcm=\"$(git --no-pager log -n 1 --pretty=format:'%s')\" && orv=\"$(hub release | grep -o '0.0.\dr\d*' | sort -r | head -n1)\" && nrv=\"${orv%r*}r$((${orv#*r} + 1))\" && echo \"$lcm $nrv\" && echo \"$(hub release create -p -m $lcm $nrv)\""

# Plenty
alias qrgen='${WORKSPACE}/qr_generator/plentyqrgen/gen'
alias cli='${WORKSPACE}/cli/plentyservice/pcli'
alias beansprout='p3 ${WORKSPACE}/beansprout/beansprout.py'

# Meta
alias h='hlp'
alias src='source ~/.zshrc'
alias et='s ~; s ~/.zshrc; s ~/.aliases'
alias redo='sudo $(fc -ln -1)'

# Random
alias nvenv='mkvirtualenv'
alias jptn='jupyter notebook'
alias ldyn='cd /Applications/dynamodb_local_latest; r; java -Djava.library.path=./DynamoDBLocal_lib -jar DynamoDBLocal.jar -sharedDb; cd -; r'
